.new{
    font-size: 28px;
    text-align: center;
    width: 780px;
    margin: auto;
    }
body{
    background-image:url(hq720.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}