.description{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
}
.news{
    border: ridge black 4px;
    border-radius: 20px;
    padding: 10px;
    width: 30%;


    margin: auto;
    margin-bottom: 20px ;
    text-align: left;
}
.top-title{
    font-size: 25px;
    font-weight: 750;
}
.brawl{
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
button{
    margin-right: 10px;
    width: 90px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.527);
    border: solid black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease-in-out
}
button:hover{
    transform: scale(1.08);
    border-color: bisque;
    background-color: aquamarine;
    color: black;
}
button:active{
    background-color: rgb(255, 0, 0);
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-image: url(halloween.jpg);
}
#sidebar{
    width: 135px;
    height: 100vh;
    background-color:transparent;
    color: white;
    position: fixed;
    left: -275px;
    transition: left 0.3s ease-in-out;
}
#sidebar.open{
    left: 0;
}
#toggle-btn{
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1;
    cursor: pointer;
    background-color: #333;
    color: azure;
    border: none;
    padding: 10px 15px;
}
#sidebar a{
    color: white;
    margin-left: 10px;
}
#sidebar hr{
    align-self: flex-start;
}
#developer{
    background-image: url(hq720.jpg);
    color: rgb(64, 255, 0);
    background-size: cover;
    background-repeat: no-repeat;
}
#style_d{
    font-size: 45px ;
    text-align: center;
}
    